%h2 Hello
- if current_user
  %p
    = link_to 'poke Glass', poke_path
  = link_to "log out", destroy_user_session_path, method: :delete

- else
  = link_to "sign in with Google", user_omniauth_authorize_path(:google_oauth2)
