%h2 Hello
= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)

%p
  Number of users:
  = User.count

%p 
  Google accounts:
  = GoogleAccount.count

%p
  = link_to 'poke', poke_path
